@model WebApplication2.Models.Thing

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Thing</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Firm.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Firm.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemArtUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemArtUrl)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ThingId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
